# ASP.NET Core
*.obj
*.dll
*.exe
*.pdb
*.user
*.build
*.msi
*.vsix
*.appx
*.appxbundle
*.appxrecipe
*.ipch/
*.pfx
*.snk
*.cache
*.log
*.vs/
/bin/
/obj/
/[CleanArchitecture].PublishProfiles/
/[CleanArchitecture]/obj/
/[CleanArchitecture]/bin/
